<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    噢！这是一个404页面噢！
    <br>
    886!
    <br>
    <p><a href="/">回到主页</a></p>
    <br>
  </body>
  </html>